[Unit]
Description=Mount unit for snap-store, revision 542
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/snap-store_542.snap
Where=/snap/snap-store/542
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
